<div><h4><b>Self monitoring GPS on mobile device</b></h4>
  <div class="col-md-12 rv-image-container">
    <rv-image publication-number="USRE46237E1"></rv-image>
  </div>
  <div class="row" ng-repeat="field in vm.content.fields track by $index">
    <div class="col-md-12 rv-section" id ="{{field.fieldName}}">
      {{field.fieldName}}
    </div>
    <div class="col-md-12 rv-subField" ng-repeat="subField in field.subFields track by $index" ng-class="vm.alternateClass($index)">
      <b class="">{{subField.name}}</b>
      <i class="fa fa-question pointer-hand" aria-hidden="true" ng-click="vm.openHelpWindow(subField.helpLink)"></i><br>
      <p>{{subField.contents}}</p>
    </div>
  </div>
</div>