<div class="row" >
  <div class="col-md-9" id="scrollLeft">
    <div class="row">
      <div class="col-md-12">
        <rv-jump-to field-names=vm.recordData.fieldsToDisplay></rv-jump-to>
      </div>
      <div class="col-md-12 content-display-scroll">
        <rv-content content=vm.recordData></rv-content>
        <!-- <rv-content content=vm.recordData></rv-content> -->
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <rv-info additional-info=vm.recordData.additionalInformation></rv-info>
  </div>
</div>