<div class="row rv-center-right-container">

  <!-- Additional info section -->
  <div class="col-md-12 rv-info-header">
    ADDITIONAL INFORMATION
  </div><br>
  <div class="col-md-12">
    <table class="table" style="font-size: 12px;">
      <tr>
        <td>Original Assignee</td>
        <td>{{vm.additionalInfo.originalAssignee}}</td>
      </tr>
      <tr>
        <td>Probable Assignee</td>
        <td>{{vm.additionalInfo.probableAssignee}}</td>
      </tr>
      <tr>
        <td>DWPI Accession</td>
        <td>{{vm.additionalInfo.dwpiAccession}}</td>
      </tr>
      <tr>
        <td>Application Number</td>
        <td>{{vm.additionalInfo.applicationNumber}}</td>
      </tr>     
      <tr>
        <td>Priority Number</td>
        <td>{{vm.additionalInfo.priorityNumber}}</td>
      </tr>    
       <tr>
        <td>Application Date</td>
        <td>{{vm.additionalInfo.applicationDate}}</td>
      </tr>   
        <tr>
        <td>Priority Date</td>
        <td>{{vm.additionalInfo.priorityDate}}</td>
      </tr>

    </table>
  </div>

  <!-- Family Status section -->

    <div class="col-md-12 rv-info-header">
    FAMILY STATUS   <i class="fa fa-circle" aria-hidden="true" style="color: #329800"></i>
    </div>
    <div style="font-size: 12px; padding-left: 15px;padding-top: 10px;">
    <p> </p>
    <p>US9297112B2 <i class="fa fa-circle" aria-hidden="true" style="color: #329800"></i><br></p>
    <p>EP2847382B1 <i class="fa fa-circle" aria-hidden="true" style="color: #FF9900"></i><br></p>
    <p>EP2847383A1 <i class="fa fa-circle" aria-hidden="true" style="color: red"></i><br></p>
    </div>
   
</div>


<!-- 
Orange -#FF9900
US9297112B2
EP2847382B1
EP2847383A1 -->
