.content-display-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.resize-horizontal{
	 resize: horizontal;
    overflow: auto;
}

.rv-section{
	background-color: #D1D1D1; 
	font-family: Verdana;
	font-weight: bold;
}

.rv-section-even{
	background-color: #F2F2F2;
}

.rv-section-odd{
	background-color: #FAFAFA;
}

.pointer-hand{
	cursor: pointer;
}

.rv-subField{
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-collapse: separate;
	font-size: 12px;
}

.rv-image-container{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.rv-center-right-container{
	height:600px;
	background-color : #ddd;
	margin-left : auto;
	margin-right :auto;
}

.rv-info-header{
	font-family: Verdana;
	font-weight: bold;
	padding-top : 10px;
	border-bottom: solid 2px;
	font-size: 12px;
}


::-webkit-scrollbar-track
{
	border-radius: 10px;
	
	background-color: white;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #E4E4E4;
}

::-webkit-scrollbar-thumb
{
	background-color: #E4E4E4;
}

.scrollbar
{
	
	float: left;

	background: #F5F5F5;
	overflow-y: scroll;
	
}