<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
 
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive center-block" src="http://lorempixel.com/500/300/nightlife/9" alt="First Slide">
            </div>
            <div class="item">
                <img class="img-responsive center-block" src="http://lorempixel.com/500/300/nightlife/5" alt="Second Slide">
            </div>
            <div class="item">
                <img class="img-responsive center-block" src="http://lorempixel.com/500/300/nightlife/7" alt="Third Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <i class="fa fa-hand-o-left fa-2x pointer-hand arrow-center" aria-hidden="true" ></i>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <i class="fa fa-hand-o-right fa-2x pointer-hand arrow-center" aria-hidden="true" ></i>
        </a>
    </div>
</div>