<div id="rvImage" class="carousel slide image-container" data-ride="carousel">
  <ol class="carousel-indicators">
  <li ng-repeat="image in vm.images" data-target="#rvImage" data-slide-to="{{$index}}" ng-class="vm.activeClass($index)"></li>
  </ol>
  <div class="carousel-inner">
    <div ng-repeat="image in vm.images" class="item" ng-class="vm.activeClass($index)">
      <img class="img-responsive center-block zoom" ng-src={{image}} alt="First Slide">
    </div>
  </div>
  <a class="carousel-control left" href="#rvImage" data-slide="prev">
    <i class="fa fa-hand-o-left fa-2x pointer-hand arrow-center" aria-hidden="true" ></i>
  </a>
  <a class="carousel-control right" href="#rvImage" data-slide="next">
    <i class="fa fa-hand-o-right fa-2x pointer-hand arrow-center" aria-hidden="true" ></i>
  </a>
</div>
