<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns/article#">

  <head>

    <title>Thomson Reuters - Innovation Project</title>

    <meta charset="utf-8">

    <meta name="description" content="Project Neon"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>


    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />
    <!-- Using Source Sans from CDN only because their packaging is nice and easy
         TODO: pull these fonts locally and deploy along side WebUI and FontAwesome font files -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Source+Serif+Pro:400,600" rel="stylesheet" type="text/css" />

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->
  </head>

  <body>
    <div class="container-fluid" data-ui-view></div>
<div>Thomson Reuters</div>
    <script type="application/javascript">
      (function(angular){
        angular.element(document).ready(function() {
          angular.bootstrap('html', ['rv']);
        });
      })(window.angular);
    </script>

  </body>

</html>
